* {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	max-width: 1150px;
	margin: 0 auto;
	line-height: 1.4;
}

img {
	width: 100%;
}

h1 {
	font: 800 3.5em "Open Sans", sans-serif; /* ========> 42px <======== */
}

h2 {
	padding-bottom: 1.667rem; 
}

h3 {
	font: 800 1.667em "Open Sans", sans-serif; 
	background: #033048;
	color: #fff;
	margin: 0 auto;
	width: 220px;
	padding: 12px 0;
	text-align: center;
	border-radius: 5px;
}

h4 {
	font: 600 1.1667em "Open Sans", sans-serif;
	margin-top: 4rem;
}

p {
	font: 300 2em "Open Sans", sans-serif;
	padding: 30px 0;
}

li {
	display: inline-block;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	opacity: 0.7;
}

/* Header and Navigation
=================================== */

.header {
	background: #033048;
}
.header h1 {
	display: inline-block;
	width: 29%;
	color: #fff;
	padding: 1em 1em 1em 2em;
}
.nav {
	font: 600 24px "Open Sans", sans-serif;
	display: inline-block;
	width: 67%;
	padding-right: 1em;
	text-align: right;
}
.nav li {
	color: #f9e42e;
	padding: 0 1em;
}
.nav li a:hover {
	border-bottom: 3px solid;
	opacity: 1;
}

/* Wrapper
=================================== */

.bodywrapper {
	background: #f0efef;
}
.main, .sidebar {
	background: #f0efef;
	display: inline-block;
	vertical-align: top;
}

/* Body
=================================== */

.main {
	width: 60.87%;		/* --------> 240px <-------- */
	margin: 50px 0 50px 80px;
	padding-right: 20px;
}
.main .article {
	border-bottom: 2px #606161 solid;
	color: #606161;
}
.article {
	margin: 18px 0;
}
.article h2 {
	font: 600 3.333em "Open Sans", sans-serif;		/* --------> 40px <-------- */
	color: #033048;
}
.article p span {
	font: 600 1em "Open Sans", sans-serif;		/* --------> 24px <-------- */
	display: block;
	text-align: right;
	color: #033048;
}
.article p::first-letter {
	font-size: 4em;
	font-weight: 600;
	float: left;
	padding: 1.2rem 0.5rem 0 0;
}

/* Sidebar 
=================================== */

.sidebar {
	font: 300 2em "Open Sans", sans-serif;		/* --------> 24px <-------- */
	width: 20.87%;		/* --------> 240px <-------- */
	margin-top: 60px;
	color: #033048;
}
.sidebar h2 {
	font: 800 1.333em "Open Sans", sans-serif;		/* --------> 32px <-------- */
}
.categories, .about {
	margin-bottom: 32px;
}
.categories ul {
	padding-left: 6px;
}
.categories li {
	display: list-item;
}
.about p {
	font: 300 0.91667em "Open Sans", sans-serif;		/* --------> 22px <-------- */
	padding: 0;
}
.about span {
	font-weight: 600;		/* --------> 22px <-------- */
	color: #033048;	
	display: block;
}

/* Signup button 
=================================== */

.signup {
	background-color: #f9e42e;
	height: 140px;
	margin: 0 auto;
	padding-top: 40px;
}
.signup a:hover {
	opacity: 1;
}

/* Footer 
=================================== */

.footer {
	background: #121212;
	color: #fff;
	height: 360px;
	text-align: center;
}
.footer h1 {
	color: #f9e42e;
	margin-bottom: 1em;
	padding-top: 1.5em;
	text-align: center;
}
.footer ul {
	padding-bottom: 1em;
	max-width: none;
}
.footer li {
	padding: 0 2em 0 1em;
}