* {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	max-width: 1500px;
	margin: 0 auto;
	line-height: 1.4;
}
img {
	width: 100%;
}

h1 {
	font: 800 42px "Open Sans", sans-serif;
}

h2 {
	padding-bottom: 20px;
}

h3 {
	font: 800 20px "Open Sans", sans-serif;
	background: #033048;
	color: #fff;
	margin: 0 auto;
	width: 220px;
	padding: 12px 24px;
	text-align: center;
	border-radius: 5px;
}

h4 {
	font: 600 14px "Open Sans", sans-serif;
	margin-top: 4rem;
}

p {
	font: 300 24px "Open Sans", sans-serif;
	padding: 30px 0;
}

.header {
	background: #033048;
}

.header h1 {
	display: inline-block;
	width: 29%;
	color: #fff;
	padding: 1em 1em 1em 2em;
}

.nav {
	display: inline-block;
	width: 70%;
	font: 600 24px "Open Sans", sans-serif;
	padding-right: 3em;
	text-align: right;
}

.nav ul {
	
}

.nav li {
	display: inline-block;
	vertical-align: middle;
	color: #f9e42e;
	padding: 0 0.5em;
}

.bodywrapper {
	background: #f0efef;
}

.main, .sidebar {
	background: #f0efef;
	vertical-align: top;
	display: inline-block;


}

.main {
	width: 60%;
	margin: 50px 0 50px 80px;
	padding-right: 20px;

}
.readmore {

}

.main .article {
	border-bottom: 2px #606161 solid;
	color: #606161;
}
.article {
	margin: 18px 0;
}

.article h2 {
	font: 600 40px "Open Sans", sans-serif;
	color: #033048;
}
.article p span {
	display: block;
	text-align: right;
	font: 600 24px "Open Sans", sans-serif;
	color: #033048;
}

.sidebar {
	width: 25%;
	margin-top: 60px;
	color: #033048;
}

.sidebar h2 {
	font: 800 32px "Open Sans", sans-serif;
}

.categories, .about {
	margin-bottom: 32px;
}

.categories {
	font: 300 24px "Open Sans", sans-serif;
}
.categories ul {
	padding-left: 6px;
}

.about {
	font: 600 22px "Open Sans", sans-serif;		
}

.about p {
	padding: 0;
}

.about span {
	display: block;
	font: 600 22px "Open Sans", sans-serif;
	color: #033048;	
}

.ad {
	background: #fff;
	height: 40px;
	text-align: center;
} 

.signup {
	background-color: #f9e42e;
	height: 140px;
	margin: 0 auto;
	padding-top: 40px;
}

.footer {
	background: #121212;
	color: #fff;
	height: 400px;
	text-align: center;
}
.footer h1 {
	color: #f9e42e;
	margin-bottom: 2em;
	padding-top: 1.5em;
	text-align: center;
}
.footer ul {
	padding-bottom: 2em;
	max-width: none;
}
.footer li {
	display: inline-block;
	padding: 0 2em 0 1em;
}