* {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
	line-height: 1.4;
}

img {
	max-width: 80%;
}

h1 {
	font: 800 24px "Open Sans", sans-serif;
	padding-top: 1.5em;
}

h2 {
	font: 600 24px "Open Sans", sans-serif;
}

h3 {
	width: 150px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
}

h4 {
	font: 600 9px "Open Sans", sans-serif;
	margin-top: 4rem;
}

span {
	font: 600 18px/2 "Open Sans", sans-serif;
	display: block;
}

.header {
	background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
	background-size: cover;
	height: 500px;
}
.header h1 {
	color: #fff;
	margin-bottom: 4em;
	text-align: left;
}
.header h2 {
	color: #fff;
	text-align: center;
}
.header h3 {
	background: #f9e42e;
	font: 800 14px "Open Sans", sans-serif;
	color: #033048;
	margin: 3em auto;
}

.benefits {
	background: #f0efef;
	color: #606161;
	height: 420px;
}
.benefits h2 {
	font: 600 20px "Open Sans", sans-serif;
	color: #033048;
}
.benefits p, ul {
	font: 300 13px "Open Sans", sans-serif;
}
.benefits p {
	margin: 1em 0 2em 0.5em;
}
.benefits ul {
	margin-left: 2em;
	list-style: disc inside;
}

.quote {
	background: url(../images/testimonial_bg.jpg);
	background-size: cover;
	font: 300 italic 18px "Open Sans", sans-serif;
	color: #f0efef;
	clear: both;
	height: 350px;
	text-align: center;
}
.quote p {
	margin: 0 auto;
	padding: 95px 0;
}

.signup {
	background-color: #f9e42e;
	height: 95px;
	margin: 0 auto;
	padding-top: 2.6em;
}
.signup h3 {
	font: 800 12px "Open Sans", sans-serif;
	background: #033048;
	color: #fff;
	margin: 0 auto;
}

.footer {
	background: #121212;
	color: #fff;
	height: 300px;
	text-align: center;
}
.footer h1 {
	color: #f9e42e;
	margin-bottom: 2em;
	text-align: inherit;
}
.footer ul {
	padding-bottom: 2em;
	max-width: none;
}
.footer li {
	display: inline-block;
	padding: 0 1.2em;
}

@media screen and (min-width: 150px) {
	.header, .benefits {
		padding: 0 10px;
	}
	.header h1 {
		text-align: center;
	}
		#left, #right {
			clear: both;
			width: 100%;
			padding: 10px 0;
		}
		#left p, #left ul {
			max-width: 100%;
	}
	.quote p {
		width: 51%;
	}
}

@media screen and (min-width: 768px) {
	.header, .benefits {
		padding: 0 7em;
	}
	.header h1 {
		text-align: left;
	}
		#left, #right {
			clear: none;
			margin: 2em auto 1em;	
		}
		#left {
			float: left;
			width: 75%;
		}
		#right {
			float: right;
			width: 25%;
		}
		#left p, #left ul {
			max-width: 45%
		}

	.quote p {
		width: 23%;
	}
}
